.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 471px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 118px 1075px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 900;
  font-size: 9.375rem;
  text-transform: uppercase;
  line-height: 0.6;
  margin: 40px 457px 0 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  margin: 32px 308px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 875px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 257px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 655px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 37px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 475px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 275px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }
}.u-section-2 {
  min-height: 772px;
  background-image: none;
}

.u-section-2 .u-group-1 {
  min-height: 386px;
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-gallery-1 {
  width: 981px;
  height: 621px;
  grid-template-columns: repeat(3, auto);
  margin: 41px auto -380px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-2 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-1 {
  object-position: 50% 32.77%;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-4 {
  object-position: 50% 13.94%;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-image-6 {
  object-position: 50% 34.36%;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-left: initial;
  }

  .u-section-2 .u-gallery-1 {
    width: 880px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1260px;
  }

  .u-section-2 .u-group-1 {
    min-height: 832px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-gallery-1 {
    width: 660px;
    height: 1111px;
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 3654px;
  }

  .u-section-2 .u-group-1 {
    min-height: 3191px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    width: 520px;
    height: 3500px;
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 2290px;
  }

  .u-section-2 .u-group-1 {
    min-height: 2015px;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-1 {
    width: 320px;
    height: 2154px;
    margin-top: 32px;
    margin-bottom: -201px;
  }
}.u-section-3 {
  min-height: 259px;
}

.u-section-3 .u-gallery-1 {
  height: 258px;
  grid-gap: 10px;
  margin: 1px auto 1px 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-image-3 {
  object-position: 50% 0%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 214px;
  }

  .u-section-3 .u-gallery-1 {
    height: 213px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 654px;
  }

  .u-section-3 .u-gallery-1 {
    height: 653px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1960px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1959px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1234px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1233px;
    margin-right: initial;
    margin-left: initial;
  }
}